/* css styles */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.navbar {
  background-color: #003366;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
}

h1, h2, h3 {
  font-weight: bold;
  color: #003366;
}
